@import "~primeflex/primeflex.css";
@import "~primeicons/primeicons.css";
.layout{
  display: flex;
  width: 100%;
  background-color:#f4faff;
  
}
.leftSide{
  width:75%;
  height:inherit;
  display:flex;
  flex-direction: column;
}
.rightSide{
  width:25%;
  height:inherit;
  background-color: #fff;
}